@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Group03_Kindergarten_Suggestion_System_Project.Models.Facility>

@{
    ViewData["Title"] = "Facility List";
}



<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Facility List</h4>
                        </div>
                        <div class="header-title">
                            <a asp-action="Create" class="btn btn-outline-primary border add-btn shadow-none mx-2 d-none d-md-block">
                                <i class="las la-plus mr-2"></i>Create New Facility
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row justify-content-between mb-3">
                                <div class="col-sm-12">
                                    <div class="user-list-files d-flex">
                                        <a href="#" class="bg-primary">
                                            Print
                                        </a>
                                        <a href="#" class="bg-primary">
                                            Excel
                                        </a>
                                        <a href="#" class="bg-primary">
                                            Pdf
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table id="school-list-table" class="data-tables table table-striped dataTable mt-4">
                                <thead>
                                    <tr class="ligth">
                                        <th>Name</th>

                                        <th style="min-width: 120px">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Facility in Model)
                                    {
                                        <tr>
                                            <td>@Facility.Name</td>

                                            <td>
                                                <div class="flex align-items-center list-user-action">
                                                    <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="View"
                                                       asp-action="Details" asp-route-id="@Facility.Id">
                                                        <i class="ri-eye-line mr-0"></i>
                                                    </a>
                                                    <a class="btn btn-sm bg-warning" data-toggle="tooltip" data-placement="top" title="Edit"
                                                       asp-action="Edit" asp-route-id="@Facility.Id">
                                                        <i class="ri-pencil-line mr-0"></i>
                                                    </a>





                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


