@model dynamic

@if (Model != null)
{
    <li class="nav-item nav-icon dropdown caption-content">
        <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="~/img/users/@Model.Image" class="img-fluid rounded" alt="@Model.FullName">
        </a>
        <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="card shadow-none m-0">
                <div class="card-body p-0 text-center">
                    <div class="media-body profile-detail text-center">
                        <img src="~/assets/images/page-img/profile-bg.jpg" alt="profile-bg"
                             class="rounded-top img-fluid mb-4">
                        <img src="~/img/users/@Model.Image" alt="@Model.FullName"
                             class="rounded profile-img img-fluid avatar-70">
                    </div>
                    <div class="p-3">
                        <h5 class="mb-1">@Model.FullName</h5>
                        <p class="mb-0">Role: @Model.RoleName</p>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <a asp-area="Administration" asp-controller="Profile" asp-action="Index"
                               class="btn border mr-2">My Profile</a>
                            <a asp-area="Administration" asp-controller="Auth" asp-action="Logout"
                               class="btn border">Sign Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
}