
@model IEnumerable<Group03_Kindergarten_Suggestion_System_Project.Models.School>

@{
    ViewData["Title"] = "Danh sách trường học";
}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Danh sách trường học</h4>
                        </div>
                      
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row justify-content-between mb-3">
                                <div class="col-sm-12">
                                    <div class="user-list-files d-flex">
                                        <a href="#" class="bg-primary">Print</a>
                                        <a href="#" class="bg-primary">Excel</a>
                                        <a href="#" class="bg-primary">Pdf</a>
                                    </div>
                                </div>
                            </div>
                            <table id="school-list-table" class="data-tables table table-striped dataTable mt-4">
                                <thead>
                                    <tr class="ligth">
                                        <th>Tên trường</th>
                                        <th style="min-width: 120px">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var school in Model)
                                    {
                                        <tr>
                                            <td>@school.Name</td>
                                            <td>
                                                <div class="flex align-items-center list-user-action">
                                                    <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="Xem chi tiết"
                                                       asp-controller="SchoolUtilities" asp-action="Details" asp-route-id="@school.Id">
                                                        <i class="ri-eye-line mr-0"></i>
                                                    </a>
                                                  
                                                
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
