@{
    ViewData["Title"] = "Chi Tiết Lớp Học Mầm Non A1";
}

<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">
                            <i class="fa fa-graduation-cap mr-2"></i>Lớp Mầm Non A1
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 text-center mb-4">
                                <img src="~/img/class-image.jpg" class="img-fluid rounded" alt="Lớp Mầm Non A1">
                            </div>
                            <div class="col-md-8">
                                <h4 class="text-primary">Thông Tin Lớp Học</h4>
                                <table class="table table-borderless">
                                    <tr>
                                        <th><i class="fa fa-chalkboard-teacher mr-2 text-primary"></i>Giáo Viên:</th>
                                        <td>Trần Thị Diệu</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-clock mr-2 text-primary"></i>Lịch Học:</th>
                                        <td>Thứ 2, 4, 6 (8:00 - 11:00)</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-users mr-2 text-primary"></i>Độ Tuổi:</th>
                                        <td>3 - 4 tuổi</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fa fa-chart-line mr-2 text-primary"></i>Sĩ Số:</th>
                                        <td>15/20 học sinh</td>
                                    </tr>
                                </table>

                                <h4 class="text-primary mt-4">Mô Tả Chương Trình</h4>
                                <p>Chương trình học tập và phát triển toàn diện cho trẻ mầm non, tập trung phát triển kỹ năng xã hội, khả năng nhận thức và vận động.</p>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <h4 class="text-primary">Học Viên Trong Lớp</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Tên Học Viên</th>
                                                <th>Ngày Sinh</th>
                                                <th>Phụ Huynh</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nguyễn Văn B</td>
                                                <td>15/06/2019</td>
                                                <td>Nguyễn Văn A</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-primary btn-block">
                                    <i class="fa fa-file-alt mr-2"></i>Báo Cáo Học Tập
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-outline-primary btn-block">
                                    <i class="fa fa-calendar-check mr-2"></i>Đăng Ký Thử
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>