@{
    ViewData["Title"] = "Báo Cáo Học Tập";
}

<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">
                            <i class="fa fa-chart-line mr-2"></i>Báo Cáo Học Tập - Nguyễn Văn B
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="~/img/student-avatar.jpg" class="img-fluid rounded-circle mb-3" style="max-width: 200px;">
                                <h4 class="text-primary">Nguyễn Văn B</h4>
                                <p>Lớp Mầm Non A1</p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card border-primary">
                                            <div class="card-body text-center">
                                                <h5 class="text-primary">Hoạt Động</h5>
                                                <h3 class="text-primary">Tốt</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card border-primary">
                                            <div class="card-body text-center">
                                                <h5 class="text-primary">Tương Tác</h5>
                                                <h3 class="text-primary">Khá</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="card border-primary">
                                            <div class="card-body text-center">
                                                <h5 class="text-primary">Kỹ Năng</h5>
                                                <h3 class="text-primary">Tốt</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card border-primary mt-3">
                                    <div class="card-header bg-light">
                                        <h5 class="mb-0 text-primary">Chi Tiết Đánh Giá</h5>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-borderless">
                                            <tr>
                                                <th>Vận Động</th>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 85%;">85%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Ngôn Ngữ</th>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;">75%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Nhận Thức</th>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;">80%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="card border-primary mt-3">
                                    <div class="card-header bg-light">
                                        <h5 class="mb-0 text-primary">Nhận Xét Của Giáo Viên</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>Bé B là học sinh năng động, ham học hỏi. Đã có nhiến tiến bộ trong việc giao tiếp và làm việc nhóm. Cần tiếp tục khuyến khích và hỗ trợ thêm về kỹ năng ngôn ngữ.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block">
                                    <i class="fa fa-print mr-2"></i>In Báo Cáo
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-outline-primary btn-block">
                                    <i class="fa fa-envelope mr-2"></i>Gửi Qua Email
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>